<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="ISO-8859-1">
		
		<!-- Title -->
		<title>DINet Viewer</title>
		
		<!-- Style sheet -->
		<link href="style/graph.css" rel="stylesheet" />
		
		<!-- AngularJS library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
		
		<!-- Linkurious (Sigma.js) source -->
		<script src="scripts/linkurious.js/src/sigma.core.js"></script>
		<script src="scripts/linkurious.js/src/conrad.js"></script>
		<script src="scripts/linkurious.js/src/utils/sigma.utils.js"></script>
		<script src="scripts/linkurious.js/src/utils/sigma.polyfills.js"></script>
		<script src="scripts/linkurious.js/src/sigma.settings.js"></script>
		<script src="scripts/linkurious.js/src/classes/sigma.classes.dispatcher.js"></script>
		<script src="scripts/linkurious.js/src/classes/sigma.classes.configurable.js"></script>
		<script src="scripts/linkurious.js/src/classes/sigma.classes.graph.js"></script>
		<script src="scripts/linkurious.js/src/classes/sigma.classes.camera.js"></script>
		<script src="scripts/linkurious.js/src/classes/sigma.classes.quad.js"></script>
		<script src="scripts/linkurious.js/src/captors/sigma.captors.mouse.js"></script>
		<script src="scripts/linkurious.js/src/captors/sigma.captors.touch.js"></script>
		<script src="scripts/linkurious.js/src/renderers/sigma.renderers.canvas.js"></script>
		<script src="scripts/linkurious.js/src/renderers/sigma.renderers.webgl.js"></script>
		<script src="scripts/linkurious.js/src/renderers/sigma.renderers.svg.js"></script>
		<script src="scripts/linkurious.js/src/renderers/sigma.renderers.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
		<script src="scripts/linkurious.js/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
		<script src="scripts/linkurious.js/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
		<script src="scripts/linkurious.js/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.utils.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.nodes.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.edges.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.edges.curve.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.labels.def.js"></script>
		<script src="scripts/linkurious.js/src/renderers/svg/sigma.svg.hovers.def.js"></script>
		<script src="scripts/linkurious.js/src/middlewares/sigma.middlewares.rescale.js"></script>
		<script src="scripts/linkurious.js/src/middlewares/sigma.middlewares.copy.js"></script>
		<script src="scripts/linkurious.js/src/misc/sigma.misc.animation.js"></script>
		<script src="scripts/linkurious.js/src/misc/sigma.misc.bindEvents.js"></script>
		<script src="scripts/linkurious.js/src/misc/sigma.misc.bindDOMEvents.js"></script>
		<script src="scripts/linkurious.js/src/misc/sigma.misc.drawHovers.js"></script>
		
		<!-- Linkurious (Sigma.js) plugins -->
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/settings.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.arrow.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.curve.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edgehovers.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.arrow.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.autoCurve.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curve.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.curvedArrow.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.edges.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.extremities.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.hovers.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.labels.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.cross.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.diamond.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.equilateral.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.square.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/canvas/sigma.canvas.nodes.star.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.nodes.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.nodes.fast.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.fast.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.linkurious/webgl/sigma.webgl.edges.arrow.js"></script>
		<!-- edges hover -->
		<script src="scripts/linkurious.js/plugins/sigma.renderers.edgeLabels/settings.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>
		<!-- layout -->
		<script src="scripts/linkurious.js/plugins/sigma.plugins.animate/sigma.plugins.animate.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.layouts.forceAtlas2/worker.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.layouts.forceAtlas2/supervisor.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.layouts.fruchtermanReingold/sigma.layout.fruchtermanReingold.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.pathfinding.astar/sigma.pathfinding.astar.js"></script>
        <script src="scripts/linkurious.js/plugins/sigma.layouts.stressMajorization/sigma.layout.stressMajorization.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.layouts.maxentStress/sigma.layout.maxentStress.js"></script>		
		<script src="scripts/linkurious.js/plugins/sigma.layouts.forceLink/worker.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.layouts.forceLink/supervisor.js"></script>
		<!-- interaction -->
		<script src="scripts/linkurious.js/plugins/sigma.helpers.graph/sigma.helpers.graph.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.plugins.keyboard/sigma.plugins.keyboard.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.plugins.activeState/sigma.plugins.activeState.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.plugins.select/sigma.plugins.select.js"></script>
		<!-- halo -->
		<script src="scripts/linkurious.js/plugins/sigma.renderers.halo/settings.js"></script>
		<script src="scripts/linkurious.js/plugins/sigma.renderers.halo/sigma.renderers.halo.js"></script>		
		<!-- Filters -->
		<script src="scripts/linkurious.js/plugins/sigma.plugins.filter/sigma.plugins.filter.js"></script>

		<!-- FileSaver source -->
		<script src="scripts/filesaver/FileSaver.js"></script>

		<!-- Math.js source -->
		<script src="scripts/math.js/math.min.v3.2.0.js"></script>

		<!-- Plotly.js -->
		<script src="scripts/plotly.js/plotly-latest.min.js"></script>

		<!-- Main Controller file -->
		<script src="scripts/controller.js"></script>
		
		<!-- Services files -->
		<script src="scripts/reader.js"></script>
		<script src="scripts/converter.js"></script>
		<script src="scripts/exporter.js"></script>
		<script src="scripts/graph.js"></script>
		<script src="scripts/neighbourhood.js"></script>
	</head>


	<body ng-controller="GraphController">

			<!-- Splash screen -->
			<div id="splashscreen">
				<div id="splashscreen_whole">
					<h2 class="splashscreen_text"> Welcome to the DINet Viewer</h2>
					<h3 class="splashscreen_text">Document Image Network Viewer</h3>
					<img id="splashscreen_image" src="images/logo.png" /> <br/>
					<button id="splashscreen_button" ng-click="splashscreenOnClick()">Begin the visualisation</button>
				</div>
			</div>
			

			<!-- Main part of the page -->
			<div id="wholePanel">

				<!-- Controls area -->
				<div id="controls">

					<div class="controlsBox">
					<!-- File exporter with format choice -->
						<!-- Load features button -->
						<p> Load Features </p>
						<input  class="controlsButtonStyle" id="loadFeatures" type="file" onchange="angular.element(this).scope().loadData('feature')" title="Load Features"/>
						<!-- Load distances matrix button -->
						<p> Load Distances </p>
						<input  class="controlsButtonStyle" id="loadDistancesMatrix" type="file" onchange="angular.element(this).scope().loadData('distance')" title="Load Distances Matrix"/>
						<!-- Load graph button -->
						<p> Load Graph </p>
						<input  class="controlsButtonStyle" id="loadGraph" type="file" onchange="angular.element(this).scope().loadData('graph')" title="Load Graph"/>
					</div>

					<div class="controlsBox">
						<!-- File exporter with format choice -->
						<form id="exportForm" ng-submit="exporter()">
							<p> Export graph </p>
							<input type="radio" id="json" name="format" value="json" checked="true" /> <label for="json">JSON</label>
							<input type="radio" id="gexf" name="format" value="gexf" /> <label for="gexf">GEXF</label>
							<input id="export" type="submit" value="Export" /> <br/>
						</form>
					</div>

					<div class="controlsBox">
						<!-- Clear button -->
						<p> Clear graph </p>
						<button class="controlsButtonStyle" id="clearGraph" ng-click="clearGraph()" title="Clear"/>Clear graph</button>
					</div>

					<div class="controlsBox">
						<p> Graph layout </p>
						<!-- Layout algorithms buttons -->
						<button class="controlsButtonStyle" id="startLayout" ng-click="startLayout()">Start Force Atlas</button>
						<button class="controlsButtonStyle" class="controlsButtonStyle" id="stopLayout" ng-click="stopLayout()">Stop Force Atlas</button>
						<hr>
						<button class="controlsButtonStyle" id="startflLayout" ng-click="startflLayout()">Start Force-Link</button>
						<button class="controlsButtonStyle" id="stopflLayout" ng-click="stopflLayout()">Stop Force-Link</button>
						<hr>
						<button class="controlsButtonStyle" id="frLayout" ng-click="frLayout()">Fruchterman-Reingold</button>
						<button class="controlsButtonStyle" id="smLayout" ng-click="smLayout()">Stress Majorization</button>
						<button class="controlsButtonStyle" id="msmLayout" ng-click="msmLayout()">Maxent-Stress</button>
					</div>

					<div class="controlsBox">
						<p> Graph controls </p>
						<!-- Show/Hide images button -->
						<button class="buttonStyle" id="showHideEdges" ng-click="showHideEdges()" title="Show/Hide edges"><img id="showHideEdgesImage" class="buttonImage" src="images/hide_edges_black.png" /></button>
						<!-- Show/Hide edges button -->
						<button class="buttonStyle" id="showHideImages" ng-click="showHideImages()" title="Show/Hide images"><img id="showHideImagesImage" class="buttonImage" src="images/hide_image_black.png"/></button>
						<!-- Reset button -->
						<button class="buttonStyle" id="reset" ng-click="resetView()" title="Reset"><img class="buttonImage" src="images/reset_black.png" /></button>					
						<!-- Help button -->
						<button class="buttonStyle" id="helpButton" ng-click="help()" title="Help"><img class="buttonImage" src="images/help_black.png" /></button>

						<br/>
						<br/>
						<!-- Node size slider -->
						<!-- http://demosthenes.info/blog/757/Playing-With-The-HTML5-range-Slider-Input -->
						<!-- CSS: https://css-tricks.com/value-bubbles-for-range-inputs/ -->
						<label for="nodeSizeSlider">Node Size</label>
						<input id="nodeSizeSlider" type="range" min="1" max="5" step="1" value="1" ng-model="data.sizevalue" ng-change="changeNodeSize()"/>
						<output id="nodeSize">1</output>
					</div>


				    <div class="controlsBox">
				      <p>Edges weight filter &lt; <span id="max-weight-value">0</span></p>
				      	<span id="min-weight-val">0</span> 
				      		<input id="edge-weight" type="range" min="0" max="0" value="0" /> 
				      	<span id="max-weight-val">0</span>
				    </div>

				</div>


				<!-- Graph area -->
				<div id="graph-container">
					<!-- Graph -->
					<div id="graph"></div>
					<!-- div that will host the current node thumbnail -->
					<div id="currentNode"></div>
				</div>


				<!-- Informations area -->
				<div id="infobox">

					<!-- Navigation buttons -->
					<div id="navButtons">
						<button class="buttonStyle" id="goToFirst" ng-click="goToFirst()" title="Go to first"><img class="buttonImage" src="images/first_black.png" /></button>
						<button class="buttonStyle" id="previous" ng-click="previousNode()" title="Previous"><img class="buttonImage" src="images/previous_black.png" /></button>
						<button class="buttonStyle" id="next" ng-click="nextNode()" title="Next"><img class="buttonImage" src="images/next_black.png" /></button>
						<button class="buttonStyle" id="goToLast" ng-click="goToLast()" title="Go to last"><img class="buttonImage" src="images/last_black.png" /></button>
						<button class="buttonStyle" id="backToLastSelected" ng-click="backToLastSelected()" title="Last selected"><img class="buttonImage" src="images/last_selected_black.png" /></button>
					</div>

					<!-- Node informations -->
					<div id="tabView">
						<div id="tabs">
							<button id="nodeTab" class="tab selectedTab" ng-click="changeTab(&quot;nodeTab&quot;)" title="Current node">
								<img class="buttonImage" src="images/current_node_black.png" />
							</button>
							<button id="logTab" class="tab nonSelectedTab" ng-click="changeTab(&quot;logTab&quot;)" title="Navigation Log">
								<img class="buttonImage" src="images/log_black.png" />
							</button>
						</div>
						<div id="tabsContent">
							<div id="nodeTabContent" class="tabContent selectedContent">
								<p id="selectedNode">Click on a node to show its data</p>
								<div id="nodesInfo" hidden="true">
									<div id="selectedImage"></div>
									<ul> 
										<li id="nodeId"></li>
										<li id="x"></li>
										<li id="y"></li>
									</ul>
									<div id="subgraphDetails"></div>
									<div id="neighbours">Neighbours:<ul id="neighboursList"></ul></div>
								</div>
							</div>
							<div id="logTabContent" class="tabContent nonSelectedContent">
								<p>Empty logfile</p>
							</div>
						</div>
					</div>
				</div>
		</div>

		<br />

		<!-- Plots -->
		<!-- Responsiveness: https://plot.ly/javascript/responsive-fluid-layout/ -->
		<div id="plots">
			<div id="edgesWeightsPlot"></div>
			<div id="edgesWeightsHistogram"></div>
		</div>

	</body>
</html>